body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', 'Pretendard', sans-serif;
}

#wrap{
    width: 100%;
}

::selection{
    background: #000;
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

section{
    margin-bottom: 120px;;
}

/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(95, 99, 104, 0.3);
}

.header{
    width: 100%;
    background: #fff;
}

.header_inner{
    position: relative;
    width: 100%;
    height: 80px;
    transition: all .3s ease;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo a{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    gap: 0 10px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
}

.logo a img{
    height: 50px;
}

/* nav */

#nav{
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    -webktit-transform: translateY(-50%);
}

#nav ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#nav ul li{
    height: 100%;
}

#nav ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6px 15px;
    box-sizing: border-box;
    transition: all .2s;
}

#nav ul li a span{
    position: relative;
    color: #000;
    font-weight: 400;
    letter-spacing: -0.5px;
    font-size: 16px;
    line-height: 1.2;
}

#nav ul li a span::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #555;
    opacity: 0;
    transition: all .2s ease;
}

#nav ul li a:hover,
#nav ul li a:focus{
    background-color: rgba(95, 99, 104, 0.05);
}

#nav ul li.active a span::after,
#nav ul li a:hover span::after,
#nav ul li a:focus span::after{
    opacity: 1;
}

/* mobile_nav */

.mobile_nav_box{
    display: none;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: calc(100% - 40px);
    z-index: 50;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile_nav_btn{
}

.mobile_nav_btn button{
    width: 55px;
    height: 55px;
    background: #fff url('../img/menu_ico.png') center no-repeat;
    background-size: auto 70% !important;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.mobile_nav_box.active .mobile_nav_btn button{
    background: #000 url('../img/close_white.png') center no-repeat;
}

#mobile_nav{
    position: fixed;
    left: 0;
    bottom: 70px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(18, 32, 144, 0.2);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    will-change: transform, opacity;
}

.mobile_nav_box.active #mobile_nav{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

#mobile_nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#mobile_nav ul li{
    flex: 1 1 auto;
}

#mobile_nav ul li a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 999px;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    /* background: rgba(95, 99, 104, 0.07); */
    background: #f2f4f9;
    transition: all .1s ease;
}

#mobile_nav ul li.active a{
    color: #fff;
    background: #1a1a1a;
}

/* content_box */

#content_box{
    width: 100%;
}

/* main */

#main{
    width: 100%;
    padding-top: 80px;
    transition: all .3s ease;
}

.main{
    width: 100%;
}

.section_inner{
    width: 100%;
}

.main_swiper_box{
    position: relative;
    width: 100%;
    padding-bottom: 80px;
}

.main_slide{
    width: 100%;
    overflow: hidden;
}

.main_slide_deco{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: #333;
    z-index: 2;
    animation: mainSlideDeco 0.8s forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    background: #f2f4f9;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@keyframes mainSlideDeco{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    100%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

.main_slide .swiper-slide{
    padding-top: 700px;
    position: relative;
}

.main_slide_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_slide_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_slide_title{
    position: absolute;
    left: 30px;
    bottom: 50px;
    width: calc(55% - 60px);
}

.main_slide_title h2 strong{
    position: relative;
    padding: 5px 10px;
    font-size: 54px;
    font-weight: 800;
    margin-top: -100px;
    color: #000;
    background: #fff;
    line-height: 1.2;
    letter-spacing: -1px;
    font-family: 'Inter', sans-serif;
    word-break: break-all;
    transition: all 0.3s ease;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}

.swiper-slide-active .main_slide_title h2 strong{
    opacity: 1;
    transition-delay: var(--delay);
}

.main_slide_title h2 .gap{
    display: block;
    width: 100%;
    padding-top: 22px;
}

.main_support_slide_box{
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 40%;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.mssb_inner{
    position: relative;
    width: 100%;
    padding: 40px 25px 30px 25px;
    box-sizing: border-box;
}

.main_support_slide{
    width: 100%;
    overflow: hidden;
}

.main_support_slide .swiper-slide{
    box-sizing: border-box;
}

.main_support_slide .swiper-slide span.cate{
    font-size: 14px;
    color: #00000070;
    margin-bottom: 12px;
    display: block;
}

.main_support_slide .swiper-slide h3{
    font-size: 22px;
    color: #333;
    letter-spacing: -1px;
    font-weight: 700;
    word-break: keep-all;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    will-change: opacity;
}

.main_support_slide .swiper-slide-active h3{
    opacity: 1;
}

.mss_skill_list{
    margin-top: 26px;
}

.mss_skill_list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
}

.mss_skill_list ul li span{
    display: inline-block;
    font-size: 12px;
    color: #333;
    padding: 8px 12px;
    border-radius: 999px;
    background: #f5f6f7;
    box-sizing: border-box;
    cursor: default;
    transition: all .1s ease-in-out;
}

.mss_skill_list ul li:hover span,
.mss_skill_list ul li:focus span{
    background: #333;
    color: #fff;
}

.mss_skill_list ul li:first-child span{
    background: #333;
    color: #fff;
}

.main_slide_control{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: 0;
    top: -30px;
    box-sizing: border-box;
    margin-right: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    background: #ddd;
    gap: 0 1px;
}

.msc_btn{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    background-size: auto 45% !important;
    transition: background .1s ease-in-out, transform 0.2s ease-in-out;
}

.msc_btn:active{
    transform: scale(0.95);
}

.msc_prev{
    background: #fff url('../img/arrow_back.png') center no-repeat; 
}

.msc_prev:hover,
.msc_prev:focus{
    background: #333 url('../img/arrow_back_wh.png') center no-repeat;
}

.msc_prev:active{
    background: #000 url('../img/arrow_back_wh.png') center no-repeat;
}

.msc_next{
    background: #fff url('../img/arrow_forward.png') center no-repeat; 
}

.msc_next:hover,
.msc_next:focus{
    background: #333 url('../img/arrow_forward_wh.png') center no-repeat;
}

.msc_next:active{
    background: #000 url('../img/arrow_forward_wh.png') center no-repeat;
}

/* intro */


#intro, .intro{
    width: 100%;
}

.section_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(95, 99, 104, 0.3);
    margin-bottom: 40px;
}

.section_header h2{
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-right: 25px;
}

.section_header span{
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.intro_list{
    width: 100%;
}

.il_floor1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
}

.il_floor1 > li.type1{
    width: calc(50% - 30px);
}

.il_floor1 > li.type2{
    width: 100%;
}

.il_floor1 > li{
    position: relative;
}

.il_floor1 > li:hover{
    border-color: transparent;
}

.il_floor1 > li > a{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 70px 0 17px;
    box-sizing: border-box;
    color: #000;
    width: 100%;
    height: 75px;
    transition: all .3s ease;
}

.il_floor1 > li > a::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 70%;
    z-index: -1;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    border-radius: 999px;
    transition: all .3s ease;
}

.il_floor1 > li > a:focus,
.il_floor1 > li > a:hover{
    padding-left: 22px;
}

.il_floor1 > li > a::after{
    display: block;
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(95, 99, 104, 0.07) url('../img/more_icon1.png') center no-repeat;
    background-size: auto 80%;
}

.il_floor1 > li > a:hover::after,
.il_floor1 > li > a:focus::after{
    background-color: rgba(95, 99, 104, 0.19);
}



.career_list_box{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    max-width: 1300px;
    z-index: 250;
    transition: bottom 0.35s;
    transition-delay: 0.1s;
    will-change: opacity, bottom;
}

.active .career_list_box{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.career_inner{
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.career_tit{
    width: 100%;
    padding: 20px 32px;
    box-sizing: border-box;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.career_tit h3{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.7px;
    color: #0a2458;
}

.career_list{
    width: 100%;
    overflow: hidden; 
    box-sizing: border-box;
}

.career_list ul{
    width: 100%;
    max-height: 380px;
    overflow: auto;
    overscroll-behavior: none;
    box-sizing: border-box;
    padding: 0px 5px 25px 32px;
}

.career_list ul li:first-child{
    margin-top: 15px;
}

.career_list ul .mCSB_scrollTools{
    top: 20px;
}

.career_list ul .mCSB_inside>.mCSB_container{
    margin-right: 20px;
}

.career_list ul .mCSB_scrollTools .mCSB_draggerRail{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 0;
}

.career_list ul li{
    width: 100%;
    padding: 9px 0;
    box-sizing: border-box;
}

.career_list ul li span{
    color: #333;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.career_list_close{
    position: absolute;
    right: 10px;
    top: 9px;
}

.career_list_close button{
    width: 50px;
    height: 50px;
    background: url('../img/close_gray.png') center no-repeat;
    background-size: auto 80%;
    border-radius: 50%;
}

.career_list_close button:hover,
.career_list_close button:focus{
    background-color: rgba(95, 99, 104, 0.07);
}

.career_list_close button:active{
    background-color: rgba(95, 99, 104, 0.19);
}

.il_txt{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px 0;
}

.il_txt em{
    font-size: 22px;
    font-weight: 700;
    display: block;
    color: #000;
}

.il_txt span{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: -1px;
    display: inline-block;
    height: max-content;
}

.skill_list{
    width: 100%;
    margin-top: 40px;
}

.skill_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 50px;
}

.skill_list ul li{
}

.skill_icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: #f2f4f9;
    border-radius: 50%;
    margin: 0 auto;
    user-select: none;
}

.skill_icon_img img{
    width: 45px;
    opacity: 0.7;
}

.skill_list ul li em{
    margin-top: 15px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #333;
}

/* works */

#works, .works{
    width: 100%;
}

.works_list{
    width: 100%;
}

.wl_floor1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.wl_floor1 > li{
    width: calc(33.3333% - 20px);
    box-sizing: border-box;
}

.wl_floor1 > li > a{
    display: block;
    height: 100%;
    box-sizing: border-box;
}

.wl_img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    user-select: none;
    transition: all .5s ease;
    box-shadow: 0px 0px 20px rgba(18, 32, 144, 0.15);
}

.wl_floor1 > li > a:focus .wl_img,
.wl_floor1 > li > a:hover .wl_img{
    box-shadow: 0px 0px 20px rgba(18, 32, 144, 0.34);
}


.wl_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all .5s ease;
}

.wl_floor1 > li > a:focus .wl_img img,
.wl_floor1 > li > a:hover .wl_img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.wl_desc{
    width: 100%;
    box-sizing: border-box;
    padding: 22px 20px;
    box-sizing: border-box;
}

.cate_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 10px;
    margin-bottom: 10px;
}

.cate_list li .cate{
    font-size: 13px;
    color: #333;
    display: block;
    padding: 5px 12px;
    background: #f2f4f9;
    border-radius: 999px;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

.wl_desc em{
    display: block;
    color: #222;
    font-size: 19px;
    letter-spacing: -0.5px;
    font-weight: 700;
    line-height: 1.2;
}

.wl_desc p{
    padding-top: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 400;
    line-height: 1.2;
}

/* clone_coding */

#clone_coding, 
.clone_coding{
    width: 100%;
}

.clone_coding_list{
    width: 100%;
}

.ccl_floor1{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.ccl_floor1 > li{
    position: relative;
    width: calc(33.3333% - 20px);
}


.ccl_floor1 > li > a{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.ccl_img{
    position: relative;
    user-select: none;
    overflow: hidden;
    width: 100%;
    height: 280px;
    z-index: -1;
}

.ccl_img::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0) 70%);
    transition: all .5s ease;
}

.ccl_floor1 > li > a:hover .ccl_img::after,
.ccl_floor1 > li > a:focus .ccl_img::after{
    opacity: 0;
}

/* 
.ccl_img::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
} */

/* 
.ccl_img.rounded{
    border-radius: 999px 0 0 999px;
} */

.ccl_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.ccl_desc{
    position: absolute;
    left: 20px;
    bottom: -30px;
    box-sizing: border-box;
    padding: 20px 25px 30px 25px;
    width: calc(100% - 60px);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(18, 32, 144, 0.2);
    transition: all .3s ease;
}

.ccl_floor1 > li > a:hover .ccl_desc,
.ccl_floor1 > li > a:focus .ccl_desc{
    bottom: -10px;
}

.ccl_desc .cate_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 10px;
    margin-bottom: 10px;
}

.ccl_desc .cate_list li .cate{
    display: inline-block;
    width: max-content;
    padding: 5px 12px;
    font-size: 13px;
    color: #333;
    background: #f5f6f7;
    border-radius: 999px;
    box-sizing: border-box;
}
/* 
.ccl_desc span.cate.color1{
    background: #02427a;
}

.ccl_desc span.cate.color2{
    background: #0164bc;
} */

.ccl_desc em{
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.2;
    color: #000;
}

.cc_detail_box{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    max-height: 100vh;
    z-index: 250;
    box-sizing: border-box;
    background: #f2f4f9;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    will-change: opacity;
}

.ccl_floor1 > li.active .cc_detail_box{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
}

.cc_detail_close{
    position: fixed;
    right: calc((100% - 1300px) / 2);
    bottom: 0;
    z-index: 300;
    overscroll-behavior: none;
    overflow: hidden;
}

.cc_detail_close button{
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    background: #020659 url('../img/close_white.png') center no-repeat;
    background-size: auto 80%;
    will-change: transform;
}

.ccl_floor1 > li.active .cc_detail_close button{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: all .6s ease-in-out;
    transition-delay: 0.35s;
}

.cc_detail_inner{
    position: relative;
    z-index: 250;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    overflow-y: scroll;
    padding: 30px 0 70px 0;
    box-sizing: border-box;
    background: #fff;
}

.cc_detail_inner::-webkit-scrollbar{
    width: 4px;
}

.cc_detail_inner::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 999px;
}

.cc_detail_inner::-webkit-scrollbar-track{
    background: rgba(0, 1, 15, 0.1);
}

.cc_detail{
    width: 100%;
    box-sizing: border-box;
}

.cc_detail_top{
    width: 100%;
}

.cc_detail_img{
    display: block;
    width: 100%;
    border: 1px solid rgba(95, 99, 104, 0.08);
    box-sizing: border-box;
}

.cc_detail_img.type1 a{
    position: relative;
    display: block;
    padding-top: 540px;
}

.cc_scroll_notice{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 1, 15, 0.8);
    z-index: 2;
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.cc_detail_img.active .cc_scroll_notice{
    opacity: 0;
    visibility: hidden;
}

.ccsn_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.ccsn_mouse{
    position: relative;
    width: 60px;
    height: 120px;
    border-radius: 999px;
    border: 5px solid #fff;
}

.ccsn_mouse::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 20px);
    -webkit-transform: translate(-50%, 20px);
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    animation: mouseMove 1.5s infinite;
    animation-timing-function: ease;
    will-change: opacity;
    opacity: 1;
}

@keyframes mouseMove{
    0%{
        opacity: 1;
        transform: translate(-50%, 20px);
        -webkit-transform: translate(-50%, 20px);
    }

    100%{
        opacity: 0;
        transform: translate(-50%, 55px);
        -webkit-transform: translate(-50%, 55px);
    }
}

.cc_detail_img.type1 a picture{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    user-select: none;
}

.cc_detail_img a picture img{
    width: 100%;
}

.cc_detail_tit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 25px 0;
}

.cc_detail_cate{
    width: 100%;
}

.cc_detail_cate ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
    justify-content: flex-end;
}

.cc_detail_cate ul li span{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 999px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

.cc_detail_tit h2{
    position: relative;
    font-size: 44px;
    font-weight: 900;
    color: #000;
    letter-spacing: -1px;
    line-height: 1.2;
    box-sizing: border-box;
    padding: 10px 0px 10px 30px;
}

.cc_detail_tit h2::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 5px;
    height: 50px;
    background: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
}

.cc_detail_bot{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

.cc_detail_cont{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px 0;
}

.cc_detail_bot_link{
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
}

.cc_detail_bot_link a{
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(95, 99, 104, 0.7);
    background: #fff url('../img/open_in_new_blue.png') center no-repeat;
    background-size: auto 50% !important;
    transition: all .15s;
    box-sizing: border-box;
}

.cc_detail_bot_link a:hover,
.cc_detail_bot_link a:focus{
    background: #0F1E85 url('../img/open_in_new_white.png') center no-repeat;
}

.cc_detail_bot_box{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #e0e0e0;
    gap: 1px;
}

.cc_detail_subtit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.cc_detail_subtit > div{
    width: calc(50% - 0.5px);
    background: #fcfcfc;
}

.cds_txt{
    box-sizing: border-box;
    padding: 35px 24px;
}

.cds_txt .txt_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cds_txt .txt_box h3{
    font-size: 30px;
    color: #222;
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 1.2;
}

.cds_txt .txt_box span{
    color: #757575;
    line-height: 1.2;
}

.cds_txt .txt_box *{
    width: max-content;
}

.cds_img{
    height: 240px;
    overflow: hidden;
    user-select: none;
}

.cds_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cds_img.center img{
    object-position: center;
}

.cc_desc_card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.cc_desc_card > li{
    position: relative;
    width: calc(25% - 0.75px);
    min-height: 240px;
    background: #fafafa;
}

.cdc_inner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all .2s ease;
    gap: 12px 0;
}

.cdc_inner:focus,
.cdc_inner:hover{
    background: #fff;
}

.cdc_inner.more::before{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: #000 url('../img/plus_white.png') center no-repeat;
    background-size: auto 70%;
}

.cdc_inner.more:hover::before,
.cdc_inner.more:focus::before{
    display: none;
}

.cdc_inner > strong{
    font-size: 22px;
    color: #222;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 1.2;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: all .2s ease;
}

.cdc_inner:hover strong,
.cdc_inner:focus strong{
    border-color: #000;
}

.cdc_list{
    width: 100%;
    overflow: hidden;
}

.cdc_floor2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 11px 0;
}

.cdc_floor2 li p{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    color: #333;
}

.cdc_overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fafafa;
    height: 240px;
}

.cdc_overlay.cont1{
    width: calc(25% - 1px);
}

.cdc_overlay.cont2{
    width: calc(50% - 1px);
}

.cdc_overlay.cont3{
    width: calc(75% - 0.25px);
}

/* contact */

#contact{
    margin-bottom: 0px;
}

.contact_link{
    text-align: center;
}

.contact_link a{
    color: #000;
    font-size: 48px;
    font-weight: 900;
    display: inline-block;
    padding: 10px 0;
    word-break: break-all;
}

.contact_link a:hover,
.contact_link a:focus{
    color: #0a2458;
}

.contact_link a:active{
    color: #0064bc;
}

/* go_top */

.go_top{
    position: fixed;
    right: calc((100% - 1300px) / 2);
    bottom: 10px;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.go_top.active{
    visibility: visible;
    opacity: 1;
}

.go_top button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff url('../img/arrow_up.png') center no-repeat;
    background-size: auto 80%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

/* footer */

#footer{
    margin-top: 15px;
}

#footer, .footer{
    width: 100%;
}

.footer_txt{
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
}

.footer_txt h2{
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 1.2;
    color: #999;
}

/* fixed_bg */

.fixed_bg{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    cursor: pointer;
    transition: all .3s ease-in-out;
    will-change: opacity;
    overscroll-behavior: none;
}

.nav_active .fixed_bg,
.modal_active .fixed_bg{
    visibility: visible;
    opacity: 1;
}
