*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.756vh;
}

body{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Inter', 'Pretendard', sans-serif;
}

#wrap{
    width: 100%;
    height: 100%;
}

#content_box{
    position: relative;
    width: 100%;
    min-height: 100%;
}

.mNav_active{
    overflow-y: auto;
}

::selection{
    background: #000;
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.main .container{
    position: relative;
    height: 100%;
}

section:not(#main){
    margin-bottom: 0px;
    padding-top: 120px;
}

/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
}

.header{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header_inner{
    position: relative;
    width: 100%;
    height: 80px;
    transition: all .3s ease;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.logo a{
    display: flex;
    align-items: center;
    gap: 0 10px;
    transition: all .3s ease;
}

.logo a img{
    height: 50px;
    transition: all .3s ease;
}

.logo a span{
    color: #000;
    font-size: 42px;
    font-weight: 500;
    font-family: "Ephesis", cursive;
    letter-spacing: -0.5px;
}

.progressBarCont{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 200;
}

.progressBar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;    
}

/* nav */

#nav{
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    -webktit-transform: translateY(-50%);
}

#nav ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#nav ul li{
    height: 100%;
}

#nav ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6px 22px;
}

#nav ul li a span{
    position: relative;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 18px;
    line-height: 1.2;
    transition: all .3s ease;
}

#nav ul li a:hover span,
#nav ul li a:focus span{
    color: #0511F2;
}
/* 
#nav ul li a span::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: all .2s ease;
    transform-origin: center;
}

#nav ul li a:hover,
#nav ul li a:focus{
    background-color: rgba(95, 99, 104, 0.05);
}

#nav ul li.active a span::after,
#nav ul li a:hover span::after,
#nav ul li a:focus span::after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
} */

/* mobile_nav */

.mobile_nav_container{
    display: none;
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 199;
}

.mNav_box{
    position: absolute;
    left: 0;
    top: -65px;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: top .3s;
}

.mNav_box.onSlide{
    transition: none;
}

.mNav_box::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 22px;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0));
}

.mNav_inner{
    width: 100%;
    height: 100%;
    padding-top: 65px;
    overflow: auto;
    position: relative;
}

.mobile_nav_btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
}

.mobile_nav_btn::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 9px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background: #ddd;
    border-radius: 999px;
}

.mNav_icon{
    position: absolute;
    left: 50%;
    top: 29px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 65px;
    height: 17px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.mNav_icon span{
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.6);
}

.mobile_nav_btn button{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 65px;
}

.mNav_link_box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: url('../img/logo_svg.svg');
    background-position: center bottom 30px;
    background-repeat: no-repeat;
    background-size: 100px auto; */
}

.mNav_link_position{
    position: absolute;
    left: 0;
    top: -55px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    transition: all .45s;
}

.mNav_box:has(.mNav_slideUp) .mNav_link_position{
    top: 0px;
}

.mNav_title{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.mNav_title h2{
    position: relative;
    font-size: 24px;
    /* background: linear-gradient( 109.6deg,  rgba(166,64,221,1) 21.2%, rgba(102,165,235,1) 74.4% );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    color: #000;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    opacity: 0;
    transition: all .8s ease;
}

.mNav_box:has(.mNav_slideUp) .mNav_title h2{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
    transition-delay: 0.45s;
}

#mobile_nav{
    width: 100%;
    flex: 1;
    overflow: auto;
    padding: 0 20px 100px 20px;
}

.mNav_box:has(.mNav_slideUp) #mobile_nav{
}

#mobile_nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#mobile_nav ul li{
    /* flex: 1 1 auto; */
    width: 100%;
}

#mobile_nav ul li a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 17px 15px;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    /* background: rgba(95, 99, 104, 0.07); */
    transition: all .1s ease;
    letter-spacing: -0.4px;
    border-bottom: 1px solid #d0d0d0;
}

.mNav_logo{
    position: absolute;
    left: 50%;
    bottom: 22px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    opacity: 0;
    transition: all .6s ease;
}

.mNav_active .mNav_logo{
    opacity: 1;
    transition-delay: 1.25s;
}

.mNav_logo strong{
    font-size: 42px;
    font-family: "Ephesis", cursive;
    letter-spacing: -0.5px;
}

/* content_box */

#content_box{
    width: 100%;
}

/* main */

#main{
    width: 100%;
    transition: all .3s ease;
}

.main{
    position: relative;
    width: 100%;
}

.section_inner{
    width: 100%;
}

.main_swiper_box{
    position: relative;
    width: 100%;
    padding-bottom: 80px;
}

.main_slide{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main_slide_deco{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 2;
    animation: mainSlideDeco 0.8s forwards;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
    background: #f2f4f9;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@keyframes mainSlideDeco{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    100%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

.main_slide .swiper-slide{
    padding-top: 100dvh;
    position: relative;
    overflow: hidden;
}

.main_slide_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    -webkit-transform: translate(-50%, -50%) scale(1.4);
    width: 100%;
    height: 100%;
    transition: all 1.5s ease;
    transform-origin: center;
    transition-delay: 0s;
    filter: blur(5px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

.swiper-slide-active .main_slide_img{
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
    /* transition-delay: .4s; */
}

.main_slide_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_slide_title{
    position: absolute;
    left: 30px;
    bottom: 70px;
    width: calc(55% - 60px);
}

.main_slide_title h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main_slide_title h2 strong{
    position: relative;
    display: inline-block;
    width: max-content;
    padding: 5px 18px;
    margin-bottom: 19px;
    font-size: 54px;
    font-weight: 800;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    color: #000;
    background: #fff;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-family: 'Inter', sans-serif;
    word-break: break-all;
    transition: all 1s ease;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}

.swiper-slide-active .main_slide_title h2 strong{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
    transition-delay: var(--delay);
}

.main_support_slide_box{
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 40%;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.mssb_inner{
    position: relative;
    width: 100%;
    padding: 40px 35px;
}

.main_support_slide{
    width: 100%;
    overflow: hidden;
}

.main_support_slide .swiper-slide{
}

.main_support_slide .swiper-slide span.cate{
    font-size: 14px;
    color: #00000070;
    margin-bottom: 12px;
    display: block;
}

.main_support_slide .swiper-slide h3{
    font-size: 22px;
    color: #333;
    letter-spacing: -1px;
    font-weight: 700;
    word-break: keep-all;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    will-change: opacity;
}

.main_support_slide .swiper-slide-active h3{
    opacity: 1;
}

.mss_skill_list{
    margin-top: 26px;
}

.mss_skill_list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
}

.mss_skill_list ul li span{
    display: inline-block;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 999px;
    background: #f5f6f7;
    color: #333;
    cursor: default;
    transition: all .1s ease-in-out;
}

.mss_skill_list ul:has(span:hover) span:not(:hover),
.mss_skill_list ul:has(span:focus) span:not(:hover){
    background: #333;
    color: #fff;
}

.mss_skill_list ul li:first-child span{
    background: #333;
    color: #fff;
}

.mss_skill_list ul li:first-child:hover span{
    background: #f5f6f7;
    color: #333;
}

.main_slide_control{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: 0;
    top: -30px;
    margin-right: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    background: #ddd;
    gap: 0 1px;
}

.msc_btn{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    background-size: auto 45% !important;
    transition: background .1s ease-in-out, transform 0.2s ease-in-out;
}

.msc_btn:active{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
}

.msc_prev{
    background: #fff url('../img/arrow_back.png') center no-repeat; 
}

.msc_prev:hover,
.msc_prev:focus{
    background: #333 url('../img/arrow_back_wh.png') center no-repeat;
}

.msc_prev:active{
    background: #000 url('../img/arrow_back_wh.png') center no-repeat;
}

.msc_next{
    background: #fff url('../img/arrow_forward.png') center no-repeat; 
}

.msc_next:hover,
.msc_next:focus{
    background: #333 url('../img/arrow_forward_wh.png') center no-repeat;
}

.msc_next:active{
    background: #000 url('../img/arrow_forward_wh.png') center no-repeat;
}

/* intro */


#intro, .intro{
    width: 100%;
}

.section_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
    overflow: hidden;
}

.section_header h2{
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin-right: 25px;
    letter-spacing: -0.5px;
}

.section_header span{
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.intro_list{
    width: 100%;
}

.il_floor1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
}

.il_floor1 > li.type1{
    width: calc(50% - 30px);
}

.il_floor1 > li.type2{
    width: 100%;
}

.il_floor1 > li{
    position: relative;
}

.il_floor1 > li:hover{
    border-color: transparent;
}

.il_floor1 > li > a{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 80px 0 13px;
    color: #000;
    width: 100%;
    transition: all .3s ease;
    /* background-image: linear-gradient( 69.2deg,  rgba(77,143,251,1) 35.3%, rgba(202,51,255,1) 100.3% ); */
    background: #f2f4f9;
    border-radius: 999px;
}

/* 
.il_floor1 > li > a em{
    color: #fff;
} */

.il_floor1 > li > a:focus,
.il_floor1 > li > a:hover{
    padding-left: 30px;
}

.il_floor1 > li > a::after{
    display: block;
    content: "";
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8) url('../img/more_icon1.png') center no-repeat;
    background-size: auto 80%;
    transition: all .2s ease;
}

.il_floor1 > li > a:hover::after,
.il_floor1 > li > a:focus::after{
    background-color: rgba(255, 255, 255, 1);
}

.career_list_box{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    max-width: 1300px;
    z-index: 250;
    transition: all 0.45s;
    transition-delay: 0.05s;
    will-change: opacity, bottom;
    overflow: hidden;
    border-radius: 22px 22px 0 0;
}

.active .career_list_box{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.career_inner{
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.career_tit{
    width: 100%;
    padding: 20px 32px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.career_tit h3{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.7px;
    color: #0a2458;
}

.career_list{
    width: 100%;
    overflow: hidden; 
}

.career_list ul{
    width: 100%;
    max-height: 380px;
    overflow: auto;
    overscroll-behavior: none;
    padding: 0px 5px 25px 32px;
}

.career_list ul li:first-child{
    margin-top: 15px;
}

.career_list ul .mCSB_scrollTools{
    top: 20px;
}

.career_list ul .mCSB_inside>.mCSB_container{
    margin-right: 20px;
}

.career_list ul .mCSB_scrollTools .mCSB_draggerRail{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 0;
}

.career_list ul li{
    width: 100%;
    padding: 9px 0;
}

.career_list ul li span{
    color: #333;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

.career_list_close{
    position: absolute;
    right: 10px;
    top: 7px;
}

.career_list_close button{
    width: 50px;
    height: 50px;
    background: url('../img/close_gray.png') center no-repeat;
    background-size: auto 80%;
    border-radius: 50%;
}

.career_list_close button:hover,
.career_list_close button:focus{
    background-color: rgba(95, 99, 104, 0.07);
}

.career_list_close button:active{
    background-color: rgba(95, 99, 104, 0.19);
}

/* interactive_intro */

.interactive_intro{
    width: 100%;
    margin-top: 70px;
}

.itri_inner{
    position: relative;
    width: 100%;
    padding: 140px 20px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../img/bridge-9515680_1920.jpg') bottom center no-repeat;
    background-size: cover;
}

#particles-js{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.itri_inner::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #435373;
    mix-blend-mode: multiply;
}

.itri_txt{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    margin-bottom: 30px;
}

.itri_txt h3{
    position: relative;
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    word-break: keep-all;
    text-align: center;
    font-weight: 500;
}

.itri_txt h3 strong{
    display: inline-block;
    overflow: hidden;
}

.itri_txt h3 strong span{
    display: inline-block;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all .6s;
    transition-delay: var(--delay);
}

.itri_txt.active h3 strong span{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}

.itri_txt h3::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    filter: blur(7px);
    z-index: -1;
    opacity: 0;
    transition: all .7s ease;
    transition-delay: 0.6s;
}

.itri_txt.active h3::before{
    opacity: 1;
}

.itri_link{
    position: relative;
    z-index: 3;
}

.itri_link a{
    display: inline-block;
    border-radius: 999px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    transition: width 0.5s 0.5s ease, background-color 0.3s 0s ease;
    transform: scale(0);
    -webkit-transform: scale(0);
    background: #757575;
    backdrop-filter: blur(3px);
}

.itri_link.active a{
    animation: itriLinkScale linear forwards 0.5s;
    animation-timing-function: ease;
}

@keyframes itriLinkScale{
    30%{
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.itri_link a:hover{
    background: rgba(255, 202, 40, 0.6);
}

.itri_link a span{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 15px 58px 15px 25px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    background: url('../img/open_link_wh40.png') no-repeat;
    background-size: 25px;
    background-position: right 20px center;
}

.itri_link.active a span{
    opacity: 1;
    visibility: visible;
    transition: all .8s ease;
    transition-delay: 1s;
}

.il_txt{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px 0;
    padding: 11px 0;
}

.il_txt em{
    font-size: 22px;
    font-weight: 600;
    display: block;
    color: #000;
    padding: 10px 18px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.87);
    border: 1px solid #fff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    letter-spacing: -0.6px;
}

.il_txt span{
    font-size: 14px;
    color: #000;
    letter-spacing: -1px;
    display: inline-block;
    height: max-content;
}

.skill_list{
    position: relative;
    width: 100%;
}

.skill_list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    /* background-image: linear-gradient( 69.2deg,  rgba(77,143,251,1) 35.3%, rgba(202,51,255,1) 100.3% ); */
    background: #000;
    padding: 1px;
}

.skill_list ul li{ 
    position: relative;
    z-index: 1;
    flex: 1;
    padding: 55px 0;
    transition: all .3s ease;
    background: #fff;
}

.skill_list ul li.active{
    background: #f2f4f9;
}

.skill_icon{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 1px solid #eee;
    border-radius: 50%;
    margin: 0 auto;
    user-select: none;
    transition: all .3s ease;
    background: #fff;
}

.skill_icon::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #F2E41B;
    border-radius: 50%;
    z-index: -1;
    transition: all .4s ease;
    transform-origin: center;
}

.skill_list ul li.active .skill_icon::after{
    transform: translate(-50%, -50%) scale(1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2);
}

.skill_icon_img img{
    position: relative;
    width: 47px;
    opacity: 0.7;
}

.skill_list ul li em{
    position: relative;
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #111;
}

.skill_list ul li.active em{
}

/* works */

#works, .works{
    width: 100%;
}

.works_list{
    width: 100%;
}

.wl_floor1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.wl_floor1 > li{
    width: calc(50% - 20px);
}

.wl_floor1 > li > a{
    display: block;
    height: 100%;
}

.wl_img_box{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 60.88%;
}

.wl_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}
/* 
.wl_floor1 > li > a:focus .wl_img,
.wl_floor1 > li > a:hover .wl_img{
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.07);
} */

.wl_img img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transform-origin: 0% 0%;
}

.wl_desc{
    width: 100%;
    padding: 26px 0px 20px 0px;
}

.cate_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 7px;
    margin-bottom: 10px;
}

.cate_list li .cate{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    display: block;
    padding: 5px 12px;
    border-radius: 999px;
    letter-spacing: -0.5px;
    background: #f2f4f9;
}

.cate_list li:first-child .cate{
    /* background: linear-gradient( 109.6deg,  rgba(166,64,221,1) 21.2%, rgba(102,165,235,1) 74.4% ); */
}

.cate_list li:nth-child(2) .cate{
    /* background: linear-gradient( 111.7deg,  rgba(34,193,195,1) 0.2%, rgba(253,187,45,1) 90.2% ); */
}

.wl_desc em{
    display: inline-block;
    font-size: 28px;
    letter-spacing: -0.5px;
    font-weight: 800;
    line-height: 1.3;
    word-break: keep-all;
    background: linear-gradient(to right, #000 0 50%, #eee 50% 200%);
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 
.wl_floor1 > li > a:hover .wl_desc em{
    color: #2E63C5;
} */

.wl_desc p{
    padding-top: 6px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
    line-height: 1.2;
}

/* slogans */

.slogan_list{
    overflow: hidden;
    width: 100%;
}

.sl_floor1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sl_floor2{
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.sl_floor2 li{
    display: inline-block;
    white-space: nowrap;
}

.sl_floor2 li span{
    display: inline-block;
    font-size: max(6.5vw, 32px);
    letter-spacing: -0.3vw;
    line-height: 1.2;
    font-weight: 600;
}

.sl_floor1 > li:nth-child(2) .sl_floor2 li{
    margin-left: -50%;
}

.sl_floor2 li span::before{
    display: block;
    content: "";
    position: absolute;
    left: -3vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.sl_floor1 > li:first-child .sl_floor2 li span::before{
    background: #2745F2;
}

.sl_floor1 > li:nth-child(2) .sl_floor2 li span::before{
    background: #6D56BF;
}

.sl_floor1 > li:last-child .sl_floor2 li span::before{
    background: #F2E205;
}

/* clone_coding */

#clone_coding, 
.clone_coding{
    width: 100%;
}

.clone_coding_list{
    width: 100%;
    padding-top: 30px;
}

.ccl_floor1{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.ccl_floor1 > li{
    position: relative;
    width: calc(33.3333% - 20px);
}

.ccl_floor1 > li > a{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 85px;
    background: #fff;
    transition: all .3s ease;
}

.ccl_floor1 > li > a::after{
    display: block;
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    background: #fff url('../img/arrow_forward.png') center no-repeat;
    background-size: 50% !important;
    border-radius: 50%;
    transition: all .3s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.ccl_floor1 > li > a:hover::after{
    background: #000 url('../img/arrow_forward_wh.png') center no-repeat;
}

.ccl_img{
    position: relative;
    user-select: none;
    overflow: hidden;
    width: 100%;
    height: 280px;
    background: #f2f4f9;
}

.ccl_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all .5s ease;
    transform-origin: center;
}

.ccl_img.type2 img{
    object-position: left;
}

.ccl_floor1 > li:hover .ccl_img img{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

.ccl_desc{
    padding: 25px 0px 18px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* .ccl_floor1 > li > a:hover .ccl_desc,
.ccl_floor1 > li > a:focus .ccl_desc{
    bottom: -10px;
} */

.ccl_desc .cate_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 10px;
}

.ccl_desc .cate_list li .cate{
    display: inline-block;
    width: max-content;
    padding: 5px 12px;
    color: #000;
    border-radius: 999px;
}

.ccl_desc span.cate.color1{
    /* background: linear-gradient( 109.6deg,  rgba(166,64,221,1) 21.2%, rgba(102,165,235,1) 74.4% ); */
    background: #f2f4f9;
}

.ccl_desc span.cate.color2{
    background: linear-gradient( 109.6deg,  rgba(247,237,7,1) 11.2%, rgba(0,168,219,1) 100.2% );
}

.ccl_desc span.cate.color3{
    background-image: linear-gradient( 68.2deg,  rgba(255,202,88,1) 0%, rgba(139,73,255,1) 100.2% );
}

.ccl_desc em{
    display: block;
    width: max-content;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 1.2;
    color: #222;
}

.ccl_link{
    width: 100%;
    padding: 15px 0;
}

.ccl_link ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.ccl_link ul li{
    position: relative;
    width: 100%;
}

.ccl_link ul li a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 20px;
    border-radius: 999px;
    transition: all .3s ease;
}

.ccl_link ul li:first-child a{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ccl_link ul li:first-child a:hover,
.ccl_link ul li:first-child a:focus{
    background: #f9f9f9;
}

.ccl_link ul li:first-child a:hover span,
.ccl_link ul li:first-child a:focus span{
    color: #1E2640;
}

.ccl_link ul li:nth-child(2) a{
    background: #000DFF;
}

.ccl_link ul li:nth-child(2) a:hover ,
.ccl_link ul li:nth-child(2) a:focus{
    background: #1E2640;
}

.ccl_link ul li a span{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.ccl_link ul li:first-child a span{
    color: #777;
}

.ccl_link ul li:nth-child(2) a span{
    color: #fff;
}


/* go_top */

.go_top{
    position: fixed;
    right: calc((100% - 1300px) / 2);
    bottom: 20px;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.go_top.active{
    visibility: visible;
    opacity: 1;
}

.go_top button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff url('../img/arrow_up.png') center no-repeat;
    background-size: auto 80%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

/* closure */

#closure{
}

.closure_box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8% 0;
    background: url('../img/building-9761776_1920.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;;
}

.closure_box::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    z-index: 2;
}

.closure_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.closure_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */

#footer{
    background: #0d132d;
    margin-top: 120px;
}

#footer, .footer{
    width: 100%;
}

.footer{
}

.footer_txt{
    width: 100%;
    text-align: center;
    padding: 12px 20px;
}

.footer_txt h2{
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 1.2;
    color: #fff;
}

/* fixed_bg */

.fixed_bg{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 200;
    cursor: pointer;
    transition: all .3s ease-in-out;
    will-change: opacity;
    overscroll-behavior: none;
}

.nav_active .fixed_bg,
.modal_active .fixed_bg{
    visibility: visible;
    opacity: 1;
}
